name: ghcr-build
on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with: { fetch-depth: 0 }

      - name: Set SHA tag
        id: vars
        run: echo "SHA=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push API
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ops/docker/api.Dockerfile
          push: true
          build-args: |
            VELU_GIT_SHA=${{ steps.vars.outputs.SHA }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/velu-app:${{ steps.vars.outputs.SHA }}
            ghcr.io/${{ github.repository_owner }}/velu-app:${{ github.ref_name }}

      - name: Build & push Worker
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ops/docker/worker.Dockerfile
          push: true
          build-args: |
            VELU_GIT_SHA=${{ steps.vars.outputs.SHA }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/velu-app-with-git:${{ steps.vars.outputs.SHA }}
            ghcr.io/${{ github.repository_owner }}/velu-app-with-git:${{ github.ref_name }}
